/*General Styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}
/*Content*/
header, section {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}
/*Title*/
