/*General Styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}
/*Content*/
header, section {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}
/*Title*/
h1{
    text-align: center;
    color: #333;
}
/*Description*/
header p{
    text-align: center;
    color: #555;
}
/*Form*/
form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}