/*General Styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}
/*Content*/
header, section {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}
/*Title*/
h1{
    text-align: center;
    color: #333;
}
/*Description*/
header p{
    text-align: center;
    color: #555;
}
/*Form*/
form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*labels*/
label{
    font-weight: bold;
    color: #333;
}
/*Inputs*/
input [type="date"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}
/*Radio buttons*/
input[type="radio"]{
    margin-right: 15px;
}
/*Button*/
button{
    width: 100%;
    padding: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #005fa3;
}
/*Results*/

